
.icon-mail:before { content: '\e800'; } /* '' */
.icon-attention-1:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-info-circled-1:before { content: '\e804'; } /* '' */